Flask==0.12.2
Flask-PyMongo==0.5.1
Flask-RESTful==0.3.6
Jinja2==2.10
MarkupSafe==1.0
Werkzeug==0.14.1
aniso8601==2.0.1
argparse==1.4.0
itsdangerous==0.24
pymongo==3.6.1
pytz==2018.3
six==1.11.0
wsgiref==0.1.2
webargs==4.0.0
marshmallow>=2.7.0
